 
.calendar {
  position: relative;
  width: 23vw;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  zoom: 37%;
  left: 16vw;
  top: 0.3vh;
}

.calendar__picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center/cover;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.calendar__picture::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
}
.calendar__picture h2 {
  margin: 0;
}
.calendar__picture h3 {
  margin: 0;
  font-weight: 500;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}
.calendar__day:nth-child(7) {
  color: #ff685d;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
}
.calendar__number:nth-child(7n) {
  color: #ff685d;
  font-weight: 700;
}
.calendar__number--current, .calendar__number:hover {
  background-color: #009688;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}